# Archivos ejecutables y binarios
*.exe
*.out
*.app

*.o
*.obj
*.a
*.lib
*.dll
*.so

Builds/
Libraries/asio*/
Libraries/eigen*/

*.log
*.tmp
*.bak
*.cache

.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
